nb-chat {
  max-height: 100vh;
}

.stepper-title {
  font-family: "IBM Plex Sans Arabic" !important;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  display: block;
}

.stepper-date {
  font-family: "IBM Plex Sans Arabic" !important;
  font-size: 0.8rem;
  color: #999;
  display: block;
}

.stepper-content {
  font-family: "IBM Plex Sans Arabic" !important;
  padding: 0 0 20px 0;
  display: block;
}

.nb-theme-default
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 0 !important;
}

.custom {
  padding: 0 !important;
  margin: 0 !important;
}